@font-face {
	font-family: "Outfit";
	font-style: normal;
	src: url("https://fonts.mckayla.cloud/Outfit.woff2") format(woff2);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

button,
input::file-selector-button,
.button {
	background-color: transparent;
	background-image: radial-gradient(circle at bottom, #00000004, #fff);
	border: 1px solid #0003;
	border-radius: 6px;
	box-shadow: 0 1px 2px #0001;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 13px;
	padding: 6px 12px;
	text-decoration: none;
	user-select: none;
	transition: border-color 200ms;
}

button:hover,
input::file-selector-button:hover,
.button:hover {
	background-color: #00000004;
	border-color: #222;
}
